body{
    background-image: url(images/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bot{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.botname{
    font-weight: bold;
}
.align{
    display: flex;
}
.text1{
    /* background-color: rgb(0, 0, 0); */
    color: white;
    border-radius: 10px;

}
.text2{

    color: white;
    border-radius:10px ;
 

  
}
.lore{
    line-height: 24px;
    font-size: 14px;
}



.text3{
    color: rgb(201, 201, 201);
}
.text4{
    padding: 10px;
}
.t1{
    font-weight: bold;
    font-size: small;
}

.t2{
    font-size: small;
}



.lor{
    color: rgb(58, 58, 58);
    font-weight: bold;
}

.lorm{
 
    font-size: small;
}
